.row {
display:flex; 
margin-left: 15px;
align-items: center;
padding: 10px;
}
.row label{
    width: 70px;
    margin-right: 10px;
}
#izbiraVaje{
    width: 165px;
}
.ppRow {
display:flex; 
margin-left: 15px;
align-items: center;
padding: 10px;
}
.ppRow label{
    width: 70px;
    margin-right: 10px;
}
#showWindow {
    padding-right: 50px;
    height: auto;
    width: 100px;
    
}
#liftTable{
    margin-right: auto;
    margin-left: auto;
    border:1px solid black;
}
#liftTable th,td{
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    text-align: center;
}
