
.box1P {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}
.box1P label{
    width: 70px;
    margin-right: 10px;
}
.box1P textarea {
    resize: none;
}
.SplitContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-bottom: 4%;
}
.SplitDay {
    margin: 15px;
}
#insertSplitDay {
    margin-top: 10px;
    margin-left: 10px;
}
.editDay {
    display: flex;
    width: 100%;
    height: auto;
    /*border: black solid 1px;*/
}
.leftSide {
    display: block;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    border: black solid 1px;
}
.rightSide {
    width: 50%;
    box-sizing: border-box;
    height: auto;
    border: black solid 1px;
}
.rightSide button {
    display: block;
}
#cancleLifts{
    height: 100%;
}

#addButton{
    margin-top: 100px;
}
.chooseDaySplit {
    display: flex;
    width: 100%;
}
